@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");

body {
  background: url(images/bg21.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  overflow-wrap: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  font-size: 2.5rem;
}

.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: row;
}

#btn {
  color: aliceblue;
  margin: 15px;
}

h1 {
  color: aliceblue;
  font-family: "Allison", cursive;
  font-weight: 500;
  margin: 2%;
  font-size: 8.5rem;
}

@media (max-width: 1000px) {
  body {
    background: url(images/bg22.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 2rem;
  }

  .parent {
    margin-bottom: 6rem;
  }

  h1 {
    font-size: 5rem;
  }

  #btn {
    color: aliceblue;
    margin: 9px;
  }

  i {
    font-size: 1.5rem;
  }
}
